@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: $favColor;
}

.roster-logo {
  height: 40%;
  width: 40%;
}

.player-img {
  height: 400px;
  width: 350px;
}

.card {
  height: 600px;
  width: 400px;
}
